decord==0.6.0
einops==0.3.0
imageio>=2.37.0,<3
imageio-ffmpeg>=0.6.0
numpy>=1.26.0,<2
omegaconf==2.1.1
opencv_python
pandas==2.0.0
Pillow==9.5.0
pytorch_lightning>=1.9,<2.0
PyYAML==6.0
setuptools>=70.0.0
fairscale
torch>=2.5.1
torchvision>=0.20.1
tqdm==4.65.0
transformers>=4.57.1,<5
accelerate>=1.11.0
diffusers>=0.35.2,<0.36
safetensors>=0.4.5
sentencepiece>=0.2.0
moviepy>=2.2.1
av
xformers
gradio
timm
scikit-learn
open_clip_torch==2.22.0
kornia
peft==0.13.2
tensorboard
